body {
    background-color: #ADD8E6;
}

.title {
    width: 50%;
    text-align: center;
    margin: 50px auto;
    font-family: Courier New, monospace;
}

.title-label {
    font-size: 32px;
}

.board-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.cell {
    border: 3px solid black;
    border-radius: 10px;
    width: 100px;
    height:100px;
}

.activated {
    background-image: url('../img/goblin.png');
    background-position: center;
}
